.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 12px;
}

li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  color: blue;
}

.inActive {
  text-decoration: none;
}

.loading {
  margin: auto 3.7rem;
  color: darkgreen;
  font-size: 24px;
}
